h1,
h2,
ul {
  font-family: "Roboto Mono", monospace;
  text-align: right;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  font-size: 15px;
}
p {
  font-style: italic;
  font-weight: lighter;
  font-size: 14px;
  font-family: "Roboto Mono", monospace;
}
footer {
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-weight: 100;
  font-size: 12px;
}

.weather-app {
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-left: 340px;
  margin-right: 340px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  padding-top: 50px;
  max-width: 600px;
}
.search-area {
  font-family: "Roboto Mono", monospace;
  font-size: 10px;
}
.weather-forecast-temperature-min {
  font-weight: bold;
}
.weather-forecast-temperature-min {
  font-weight: lighter;
  color: grey;
  opacity: 0.5;
}

.next-days {
  font-weight: 200;
  text-align: center;
  font-family: "Roboto Mono", monospace;
}
